{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar-se | Speaker Converter</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" type="imagem/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Speaker Converter</div>
            <div class="image-logo"></div>
            <ul>
                <li><a href="{% url 'LoginView' %}">Sobre</a></li>
                <li><a href="{% url 'empresa' %}">Projeto</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="content">
            <div class="left-section">
                <div class="image-and-text">
                    <div class="image-placeholder"></div>
                    <p class="obj1">O Speaker Converter é um site desenvolvido para transformar textos
                        em áudio de forma prática e acessível. Foi criado especialmente
                        para auxiliar pessoas com deficiência visual, dificuldades de
                        leitura ou que preferem ouvir conteúdos.</p>
                    <p class="obj2"> Com uma interface intuitiva, o site permite colar textos, escolher
                        vozes personalizadas e baixar ou armazenar o áudio na nuvem,
                        tornando o acesso à informação mais ágil. Além de promover
                        inclusão digital, é útil para estudantes, profissionais e qualquer
                        pessoa que queira consumir conteúdos enquanto realiza outras
                        tarefas. Nosso objetivo é proporcionar uma experiência acessível e
                        inovadora</p>
                </div>
            </div>
            <div class="right-section">
                <center><h2>REGISTRAR-SE</h2></center>

                <!-- Exibindo Mensagens de Erro -->
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p class="error-message">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <form id="formulario-registro" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    
                    
                    <div>
                        <label for="{{ form.username.id_for_label }}">Usuário:</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <ul>
                                {% for error in form.username.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                
                    <div>
                        <label for="{{ form.email.id_for_label }}">Email:</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <ul>
                                {% for error in form.email.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                
                    <div>
                        <div>
                            <label for="id_password1">Senha:</label>
                            <div class="password-container">
                                <input type="password" id="id_password1" name="password1" class="form-control" value="{{ form.password1.value|default:'' }}" />
                                <i class="eye-icon fa fa-eye" id="eye-icon1" onclick="togglePassword('id_password1', 'eye-icon1')"></i>
                            </div>
                            {% if form.password1.errors %}
                                <ul>
                                    {% for error in form.password1.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        
                        <div>
                            <label for="id_password2">Confirmar Senha:</label>
                            <div class="password-container">
                                <input type="password" id="id_password2" name="password2" class="form-control" value="{{ form.password2.value|default:'' }}" />
                                <i class="eye-icon fa fa-eye" id="eye-icon2" onclick="togglePassword('id_password2', 'eye-icon2')"></i>
                            </div>
                            {% if form.password2.errors %}
                                <ul>
                                    {% for error in form.password2.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        
                        
                        
                
                    <center><button type="submit" class="continue-btn">Registrar</button></center>
                </form>
                
                <center><p>Já tem conta? <a href="{% url 'LoginView' %}">Entrar</a></p></center>

                <hr>
            </div>
        </section>
        <script src="{% static 'js/eyeToggleR.js' %}"></script>
    </main>
</body>
</html>
