<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redefinir Senha | Speaker Converter</title>
    <link rel="icon" type="imagem/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">Speaker Converter</div>
        <div class="image-logo"></div>
        <ul>
          <li><a href="{% url 'LoginView' %}">Sobre</a></li>
          <li><a href="{% url 'empresa' %}">Empresa</a></li>
          <li><a href="{% url 'contato' %}">Contato</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="content">
        <div class="left-section">
          <div class="image-and-text">
            <div class="image-placeholder"></div>
            <p class="obj1">O aplicativo "Speaker Converter" foi desenvolvido para facilitar o acesso à informação para pessoas com deficiência visual e estudantes com dificuldades de leitura, promovendo inclusão digital e autonomia.</p>
          </div>
        </div>
        <div class="right-section">
          <center><h2>Redefinir Senha</h2></center>

          <!-- Exibindo Mensagens de Erro -->
          {% if messages %}
            <div class="messages">
              {% for message in messages %}
                <p class="error-message">{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}

          <form method="post">
            {% csrf_token %}
            <div>
              <label for="username">Usuário:</label>
              <input type="text" id="username" name="username" required />
            </div>
            <div>
              <label for="senha">Nova Senha:</label>
              <div class="password-container">
                <input type="password" id="id_password" name="password" class="form-control" />
                <i class="eye-icon fa fa-eye" id="eye-icon" onclick="togglePassword()"></i>
              </div>
            </div>
            <div>
              <label for="confirm_password">Confirmar Nova Senha:</label>
              <input type="password" id="confirm_password" name="confirm_password" required />
            </div>
            <center>
              <button type="submit" class="continue-btn">Redefinir Senha</button>
            </center>
          </form>
          <center><p>Lembrou? <a href="{% url 'LoginView' %}">Entrar</a></p></center>
        </div>
      </section>
    </main>
    <script src="{% static 'js/eyeToggle.js' %}"></script>
  </body>
</html>
