body{
    background-color: #1A313F;
}


h1 a{
    color: #ffffff;
    font-family: Poppins;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    vertical-align:auto;
    
}

.page-header {
    background-color: #F89320;
    margin: -20px;
    padding: 20px 20px 20px 40px;
}

h2 a {
    font-family: Poppins;
}
h1 b {
    font-family: Poppins;
    font-weight: normal;
    font-size: 20pt;
    padding-left: 40px;
}

.userButton {
    float: right;
    padding-right: 20;
    margin-top: 29px;
    margin-right: 20px;
    padding-top: 40;
    color:#ffffff;
    font-family: Poppins;
    font-size: 20pt;
    gap: 15px;
}

.dropdown-menu {
    max-width: 150px;
    right: 50%;
    transform: translateX(111%);
    /*left: 50%;
    transform: translateX(-50%);*/
  }
  
  .dropdown-item, .Conversor, .biblioteca {
    display: block;
    text-align: center;
  }

  .containerform {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 10px;
}

form label {
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    border: 2px double #1A313F;
    border-radius: 5px;
    width: 100%;
}

form button {
    background-color: #F89320;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.erro {
    color: #f44336;
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 5px double #1A313F;
    border-radius: 5px;
    resize: vertical;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.safe{
    
        padding: 10px 20px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        width: 300px;
    
}
.btn-lg, .btn-group-lg>.btn {
    padding: 16px 26px;
    font-size: 23px;
    line-height: 1.33;
    border-radius: 6px;
  }
  .biblioteca.ml-3{

    display: inline-block;
    background-color: #f89320;
    color: white;
    text-decoration: none; /* Remove sublinhado */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px; /* Tamanho da fonte */
    font-weight: bold; /* Deixa a fonte mais espessa */
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none; /* Remove borda ao clicar */
  
  }
  