body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1A313F;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#FEFFFF;
}
    .fonte{
    font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#ccc;
    }


.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FEFFFF;
    border-radius: 14px;
    box-shadow: 0 2px 13px #f89320;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
   
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 200px;
}

#btn-converter {
    background-color: #e5991e;
    color: white;
}

#btn-parar {
    background-color: #f44336;
    color: white;
}

.audio-output {
    margin-bottom: 20px;
}

#audio-player {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#status-message {
    margin: 0;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 10px;
}

form label {
    margin-bottom: 5px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  color: #1A313F;
}

form input {
    padding: 10px;
    border: 2px inset #1A313F;
    border-radius: 5px;
    width: 98%;
}

form button {
    background-color: #eaa000;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
   
}

.erro {
    color: #f44336;
    margin-top: 10px;
}

    