
h1 a{
    color: #ffffff;
    font-family: Poppins;
}

h2 a {
    font-family: Poppins;
}

.page-header {
    background-color: #f0ad4e;
    margin: -20;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}


.container {
    display: flex;
    flex-direction: column;
    float: right;
    max-width: 140ch;
    padding-right: 30px;
    margin-top: -500;
    font-family: Poppins;
    font-size: 20pt;
}
#det h4 {
    font-family: Poppins;
    font-size: 25pt;
    color: #C25100;
}
.userButton {
    float: right;
    padding-right: 20;
    padding-top: 40;
    color:#ffffff;
    font-family: Poppins;
    font-size: 20pt;
}
.arquivo {
    word-wrap:break-word;
    max-width:50ch;
    padding-left: 20px;
}
.converter {
    display: inline-block;
    background-color: #285e8e;
    color: white;
    text-decoration: none; /* Remove sublinhado */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Deixa a fonte mais espessa */
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none; /* Remove borda ao clicar */
}
.converter:hover {
    background-color: #214b70; /* Efeito hover para melhor feedback */
    text-decoration: none;
}
.converter:active {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); /* Efeito de botão pressionado */
    transform: translateY(2px); /* Dá a sensação de clique */
    text-decoration: none;
}

.seusaq {
    padding-left: 20px;
    padding-top: 40;
    font-family: Poppins;
    font-size: 20pt;
}

.list-container {
    overflow-y: auto;
    height: 500px;
    list-style-type: none;
}

.dropdown-menu {
    max-width: 150px;
    right: 50%;
    transform: translateX(-50%);
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dropdown-item, .Conversor, .ausor {
    display: block;
    text-align: center;
  }

 .container d {
    color:#0000EE;
 }

 #det a p {
    display: inline-display;
 }

 a .ausor {
    display: block;
    text-align: center;
 }
 .conteudo-principal {
    display: flex;
    align-items: flex-start; /* Alinha os elementos ao topo */
    height: 100vh; /* Define a altura como a altura total da tela */
}

