@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Merienda&family=Modak&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Knewave&family=Merienda&family=Modak&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #feffff;
}
h1 a {
  color: #ffffff;
  font-family: Poppins;
}



.page-header {
  background-color: #f89320;
  margin: 0;
  padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  float: right;
  max-width: 140ch;
  padding-right: 30px;
  margin-top: -500;
  font-family: Poppins;
  font-size: 20pt;
}
#det h4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25pt;
  color: #f89320;
}
.userButton {
  float: right;
  padding-right: 20;
  padding-top: 40;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20pt;
}
.arquivo {
  background-color: #1a313f;
  color: #feffff;
  width: 350px;
  max-width: 100ch;
  padding-left: 10px;
  border-top: 3px solid #f89320;
}
.converter {
  display: inline-block;
  background-color: #f89320;
  color: white;
  text-decoration: none; /* Remove sublinhado */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Tamanho da fonte */
  font-weight: bold; /* Deixa a fonte mais espessa */
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none; /* Remove borda ao clicar */
}
.converter:hover {
  background-color: #214b70; /* Efeito hover para melhor feedback */
  text-decoration: none;
}
.converter:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); /* Efeito de botão pressionado */
  transform: translateY(2px); /* Dá a sensação de clique */
  text-decoration: none;
}

.seusaq {
  padding-left: 10px;
  padding-top: 4;
  font-family: Poppins;
  font-size: 20pt;
}

.list-container {
  overflow-y: auto;
  height: 500px;
  list-style-type: none;
}

.dropdown-menu {
  max-width: 150px;
  right: 50%;
  transform: translateX(-50%);
  left: 50%;
  transform: translateX(-79%);
}

.dropdown-item,
.Conversor,
.ausor {
  display: block;
  text-align: center;
}

.container d {
  color: #0000ee;
}

#det a p {
  display: inline-display;
}

a .ausor {
  display: block;
  text-align: center;
}
.conteudo-principal {
  display: flex;
  align-items: flex-start; /* Alinha os elementos ao topo */
  height: 100vh; /* Define a altura como a altura total da tela */
  background-color: #1a313f;
}

.arquivos {
  height: 97vh;
  margin: 18px 0px;
  background-color: #1a313f;
}

.linha-vertical {
  width: 2px;
  background-color: #f89320; /* Cor da linha */
  height: 100%; /* Garante que a linha ocupe toda a altura do container */
  align-self: stretch; /* Expande a linha para ter a altura dos elementos adjacentes */
  margin: -3px 2px;
}

.detalhes {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Alinha os elementos ao topo */
  height: 100vh; /* Altura da tela inteira */
  padding: 100px 100px;
}
.list-container {
  background-color: #1a313f;
}
.audio {
  width: 300px;
  height: 54px;
}
.modev {
  margin-bottom: 5px; /* Espaçamento entre os parágrafos */
  font-size: 14px; /* Ajuste o tamanho da fonte se necessário */
}

#search-bar {
  margin: 10px 0;
  width: 95%; /* Largura ajustável */
  padding: 8px;
  border: 1px solid #f89320;
  border-radius: 5px;
  font-size: 14px;
}
.btn-delete {
  background-color: #d9534f; /* Vermelho */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
  margin-left: auto; /* Isso empurra o botão para a direita */
  display: block; /* Faz o botão ser tratado como um bloco, permitindo o alinhamento */
}

.btn-delete:hover {
  background-color: #c9302c;
}
.fontBiblio {
  color: #feffff;
}
p {
  color: #feffff;
}
h3 {
  color: #f89320;
}
audio,
canvas,
progress,
video {
  margin: 26px 1px;
  display: inline-block;
  vertical-align: baseline;
}
.testefont {
  color: #f89320;
  text-decoration: none;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}
a{
  color: #f89320;
}